// Navigation code here

.main-navigation {
    background: @nav-bg;
    border-bottom: 1px solid @nav-border;
    color: @nav-font;
    height: 90px;
    .flexDisplay(column, space-evenly, center);

    nav {
        .flexDisplay(row, space-evenly, center);
        width: 30%;

        a {
            text-decoration: none;
        }
    }
}